In [1]:
import pandas as pd

In [2]:
compoundsfalvours=pd.read_csv('Data\FooDB\\foodb_2020_4_7_csv\\foodb_2020_04_07_csv\CompoundsFlavor.csv')

In [3]:
compoundsfalvours.head()

,id,compound_id,flavor_id,citations,created_at,updated_at,creator_id,updater_id,source_id,source_type
0,1,11947,159,"# Arn, H, Acree TE. “Flavornet: A database of ...",2011-10-02 06:30:05 UTC,2015-10-23 23:29:45 UTC,NaN,NaN,11947,Compound
1,2,8298,213,"# Arn, H, Acree TE. “Flavornet: A database of ...",2011-10-02 06:30:05 UTC,2015-10-23 23:29:56 UTC,NaN,NaN,8298,Compound
2,3,8298,156,"# Arn, H, Acree TE. “Flavornet: A database of ...",2011-10-02 06:30:05 UTC,2015-10-23 23:29:45 UTC,NaN,NaN,8298,Compound
3,4,11889,231,"# Arn, H, Acree TE. “Flavornet: A database of ...",2011-10-02 06:30:05 UTC,2015-10-23 23:29:45 UTC,NaN,NaN,11889,Compound
4,5,11889,166,"# Arn, H, Acree TE. “Flavornet: A database of ...",2011-10-02 06:30:06 UTC,2015-10-23 23:29:45 UTC,NaN,NaN,11889,Compound

In [4]:
compoundsfalvours.isna().sum()

id                 0
compound_id        0
flavor_id          0
citations          0
created_at         0
updated_at         0
creator_id     11768
updater_id     11758
source_id          0
source_type        0
dtype: int64

In [5]:
compoundsfalvours.dtypes

id               int64
compound_id      int64
flavor_id        int64
citations       object
created_at      object
updated_at      object
creator_id     float64
updater_id     float64
source_id        int64
source_type     object
dtype: object

In [6]:
relevant_columns = ['compound_id', 'flavor_id']
compoundsflavours_cleaned = compoundsfalvours[relevant_columns]

# Remove rows with missing compound_id or flavor_id
compoundsflavours_cleaned = compoundsflavours_cleaned.dropna(subset=['compound_id', 'flavor_id'])

# Convert compound_id and flavor_id to integer
compoundsflavours_cleaned['compound_id'] = compoundsflavours_cleaned['compound_id'].astype(int)
compoundsflavours_cleaned['flavor_id'] = compoundsflavours_cleaned['flavor_id'].astype(int)

In [8]:
compoundsflavours_cleaned.isna().sum()

compound_id    0
flavor_id      0
dtype: int64

In [9]:
compoundsflavours_cleaned.to_csv('compoundsflavours_cleaned.csv', index=False)