In [1]:
import pandas as pd

In [2]:
compoundssubstitute=pd.read_csv('Data\FooDB\\foodb_2020_4_7_csv\\foodb_2020_04_07_csv\CompoundSubstituent.csv')
compoundssubstitute.head()

,id,name,compound_id,creator_id,updater_id,created_at,updated_at
0,1,2-arylbenzofuran flavonoid,1,NaN,NaN,2015-02-23 22:39:46 UTC,2015-02-23 22:39:46 UTC
1,2,Hydroxyflavonoid,1,NaN,NaN,2015-02-23 22:39:46 UTC,2015-02-23 22:39:46 UTC
2,3,7-hydroxyflavonoid,1,NaN,NaN,2015-02-23 22:39:46 UTC,2015-02-23 22:39:46 UTC
3,4,5-hydroxyflavonoid,1,NaN,NaN,2015-02-23 22:39:46 UTC,2015-02-23 22:39:46 UTC
4,5,4'-hydroxyflavonoid,1,NaN,NaN,2015-02-23 22:39:46 UTC,2015-02-23 22:39:46 UTC

In [7]:
compoundssubstitute.isna().sum()

id                 0
name               2
compound_id        0
creator_id     95299
updater_id     95299
created_at         0
updated_at         0
dtype: int64

In [6]:
compoundssubstitute.dtypes

id               int64
name            object
compound_id      int64
creator_id     float64
updater_id     float64
created_at      object
updated_at      object
dtype: object

In [5]:
relevant_columns = ['compound_id', 'name']
compoundsubstitute_cleaned = compoundssubstitute[relevant_columns]

# Remove rows with missing compound_id
compoundsubstitute_cleaned = compoundsubstitute_cleaned.dropna(subset=['compound_id'])

# Convert compound_id to integer
compoundsubstitute_cleaned['compound_id'] = compoundsubstitute_cleaned['compound_id'].astype(int)

# Fill missing values in name with 'Unknown'
compoundsubstitute_cleaned['name'] = compoundsubstitute_cleaned['name'].fillna('Unknown')

# Save the cleaned dataset
compoundsubstitute_cleaned.to_csv('compoundsubstitute_cleaned.csv', index=False)