In [1]:
import pandas as pd

In [2]:
flavour=pd.read_csv('Data\FooDB\\foodb_2020_4_7_csv\\foodb_2020_04_07_csv\Flavor.csv')
flavour.head()

,id,name,flavor_group,category,created_at,updated_at,creator_id,updater_id
0,1,celery,vegetable,odor,2011-10-02 06:10:04 UTC,2011-10-02 06:10:04 UTC,NaN,NaN
1,2,corn,vegetable,odor,2011-10-02 06:10:04 UTC,2011-10-02 06:10:04 UTC,NaN,NaN
2,3,cucumber,vegetable,odor,2011-10-02 06:10:04 UTC,2011-10-02 06:10:04 UTC,NaN,NaN
3,4,horseradish,vegetable,odor,2011-10-02 06:10:05 UTC,2011-10-02 06:10:05 UTC,NaN,NaN
4,5,vegetable,vegetable,odor,2011-10-02 06:10:05 UTC,2011-10-02 06:10:05 UTC,NaN,NaN

In [3]:
flavour.isna().sum()

id                0
name              0
flavor_group    770
category          0
created_at        0
updated_at        0
creator_id      882
updater_id      881
dtype: int64

In [4]:
flavour.dtypes

id                int64
name             object
flavor_group     object
category         object
created_at       object
updated_at       object
creator_id      float64
updater_id      float64
dtype: object

In [5]:
relevant_columns = ['id', 'name', 'flavor_group', 'category']
flavour_cleaned = flavour[relevant_columns]

# Fill missing values in flavor_group with 'Unknown'
flavour_cleaned['flavor_group'] = flavour_cleaned['flavor_group'].fillna('Unknown')

# Ensure id is an integer
flavour_cleaned['id'] = flavour_cleaned['id'].astype(int)

# Save the cleaned dataset
flavour_cleaned.to_csv('flavour_cleaned.csv', index=False)

print(f"Cleaned flavour dataset saved with {len(flavour_cleaned)} entries.")
print("\nMissing value summary:")
print(flavour_cleaned.isna().sum())

Cleaned flavour dataset saved with 883 entries.

Missing value summary:
id              0
name            0
flavor_group    0
category        0
dtype: int64

C:\Users\hp\AppData\Local\Temp\ipykernel_2748\3918555741.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flavour_cleaned['flavor_group'] = flavour_cleaned['flavor_group'].fillna('Unknown')
C:\Users\hp\AppData\Local\Temp\ipykernel_2748\3918555741.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flavour_cleaned['id'] = flavour_cleaned['id'].astype(int)